<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Tailwind CSS via CDN -->
     <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<!-- Top Bar Nav -->
<nav class="w-full h-16 py-4 bg-pink-600 shadow mx-auto">
     <div class="max-w-screen-md container mx-auto flex flex-wrap items-center justify-between">
            <button class="text-white hover:text-gray-300 focus:outline-none"><a href="/home">Home</a></button>
            <button class="text-white hover:text-gray-300 focus:outline-none"><a href="/patients">Patient Database</a></button>
            <button class="text-white hover:text-gray-300 focus:outline-none"><a href="/addpatient">Add Patient</a></button>
            <button class="text-white hover:text-gray-300 focus:outline-none"><a href="/logout">Logout</a></button>
     </div>
 </nav>

<title>
</title>
</head>
<body style="text-align: center;">
<center class="w-full h-16 py-4 bg-gradient-to-br mx-auto" style="padding-top: 7%; ">
<img src="../static/keerthana.jpg" alt="this is me" width="300" height="200">
<h1>Hi, I am Keerthana Dutta and this is my Final Project</h1>
<h2><br>About: </h2>
<h2><br>This project is about adding patients and viewing patient info, Enjoy!</h2>
</center> 
<br>
</body>
</html>