<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Tailwind CSS via CDN -->
     <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<!-- Top Bar Nav -->
<nav class="w-full h-16 py-4 bg-pink-600 shadow mx-auto">
     <div class="max-w-screen-md container mx-auto flex flex-wrap items-center justify-between">
        <button class="text-white hover:text-gray-300 focus:outline-none"><a href="/home" >Home</a></button>
        <button class="text-white hover:text-gray-300 focus:outline-none"><a href="/patients">Patient Database</a></button>
        <button class="text-white hover:text-gray-300 focus:outline-none"><a href="/indicators">Indicators</a></button>
        <button class="text-white hover:text-gray-300 focus:outline-none"><a href="/addpatient">Add Patient</a></button>
        <button class="text-white hover:text-gray-300 focus:outline-none"><a href="/logout">Logout</a></button>
     </div>
 </nav>

<title>
</title>
</head>
<body style="text-align: center;">

</body>
</html>